header, section, footer, aside, nav, article, figure, figcaption {
	display: block!important;}
body {
	color: #666666 !important;
	background-color: #f9f8f6 !important;
	background-image: url("../media/pozadina.png")!important;
	background-position: center!important;
	font-family: Georgia, Times, serif!important;
	margin: 0px!important;}
.wrapper {
	width: 85%!important;
	margin: 3% auto 3% auto!important;
	border: 2px solid #9E8D5F!important;
	background-image: url("../media/pozadina.png")!important;}

.wrapper .korisnik{
	max-width: 50%!important; 
	text-align: left!important; 
	padding: 3%!important;}

.wrapper .odgovor {
	display: none;
	max-width: 80% !important;
	text-align: left!important; 
	padding: 3%!important;
}
ul.pozorista{
	margin: 1% auto 1% auto!important;
	background-image: url("../media/pozadina.png")!important;
	background-position: center!important;
}
.logo {
	display: block;
	margin-left: 10%;
	margin-right: auto;
	width: 15%;
	height: 15%; 
  }
.navbar {
	margin: 3% 3% 3% auto!important;
	border: 1px solid #9E8D5F!important;
	text-align: right;
	color: #aeaca8!important;
}

td{
	text-align: center!important;
}
th{
	text-align: center!important;
	color: #9E8D5F;
}

td.pozoriste{
	margin: 1% auto 1% auto!important;
	text-align: center!important;
}
tr.korisnik {
	border: 1px solid #9E8D5F!important;
	color: #aeaca8!important;
	text-align: center!important;
	padding: 2%;
}

td.korisnik2:hover{
	color: black!important;
	background-color: #9E8D5F!important;
}

div{
	width: 95% !important;
	height: 75%!important;
}
header {
	background-image: url("../media/pozadina.png")!important;
	border: 2px solid #9E8D5F!important;}
section.courses {
	float: left!important;
	border-right: 1px solid #eeeeee!important;}
article {
	padding: 3.5%!important;
	text-align: center; 
	clear: both!important;
	overflow: auto!important;
	width: 100%!important;}
article.left{
	text-align: left; 
}
article.right{
	text-align: right;
}
figure {
	float: left!important;
	width: 100% !important;
	height: 95%!important;
	padding: 1%!important;
	margin: 2%!important;}
figcaption {
	font-size: 90%!important;
	text-align: left!important;}
aside {
	width: 95%!important;
	float: left!important;
	padding: 0% 0% 0% 10%!important;}
aside section a {
	display: block;
	padding: 1.5%;
	border-bottom: 1px solid #eeeeee;}
aside section a:hover {
	color: #9E8D5F!important;
	background-color: #efefef!important;}
a {
	color: #9E8D5F!important;
	text-decoration: none;}
.p-naslov{
	font-size: large;
	font-weight: bold;
}
.p-opis{
	font-size: small!important;
	font-weight: bold!important;
}
.p-naslov2{
	font-size: large!important;
	font-weight: bold!important;
	text-align: center!important;
}

.p-opis2{
	font-size: small!important;
	font-weight: bold!important;
	color: #aeaca8!important;
	text-align: center!important;
}
h1, h2, h3 {
	font-weight: normal!important;}
h2 {
	font-size: 140%!important;
	margin: 2% 0% 2% 2%!important;
	text-align: center;
	padding: 0px!important;
	color: #9E8D5F!important;
	border: 2px solid #9E8D5F!important;
}
h3 {
	font-size: 85%!important;
	margin: 0% 0% 3% 0%!important;
	color: #9E8D5F!important;}
aside h2 {
	padding: 5% 0% 1% 0%!important;
	color: #9E8D5F!important;
}

/* dugme koje se koristi da otvori formu */
button.open-button {
	background-color: #9E8D5F!important;
	color: #ffff!important;
	padding: 16px 20px;
	border: none!important;
	cursor: pointer!important;
	opacity: 0.8!important;
	width: 30%!important;
}

button.o {
	background-color: black!important;
	color: #9E8D5F!important;
	padding: 0.5%;
	border: none!important;
	cursor: pointer!important;
	opacity: 0.95!important;
	width: 40%!important;
	margin-left: 60%;
}

button.o:hover{
	color: #776c4a!important;
}



/* pop-up forma, sakrivena dok je display none, ukoliko je block, forma postaje vidljiva */
.form-popup {
	display: none;
	border: none!important;
	cursor: pointer!important;
	width:  80% !important;
	opacity: 1!important;
	position: absolute !important;
	bottom: 1%!important;
	right: 30%!important;
	
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-image: url("../media/pozadina.png")!important;;
}

.skills {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
}
.pet {background-color: #9E8D5F;}
.cetiri {background-color: #9E8D5F;}
.tri {background-color: #9E8D5F;}
.dva {background-color: #9E8D5F;}
.jedan {background-color: #9E8D5F;}

.form-container {
	max-width: 100%;
	padding: 10px!important;
	background-color: #9E8D5F!important;
	background-image: url("../media/pozadina.png")!important;
	margin: auto!important;
    text-align: left;
	color: #9E8D5F!important;
	opacity: 0.98!important;
	border: 2px solid #9E8D5F!important;
}
  
.form-container input[type=text], .form-container input[type=password] {
width: 100%!important;
padding: 5px!important;
margin: 5px 0 10px 0!important;
border: none!important;
background: #9E8D5F!important;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #9E8D5F!important;
	outline: none!important;
}

.form-container .btn {
	background-color: #062c1e!important;
	color: #9E8D5F!important;
	padding: 6px 10px!important;
	border: none!important;
	cursor: pointer!important;
	width: 100%!important;
	margin-bottom:10px!important;
	opacity: 0.98!important;
}

.form-container .cancel {
background-color: rgb(59, 10, 10)!important;
}
.form-container .registracija {
	background-color: #9E8D5F!important;
	color: #062c1e !important;
	}

.form-container .sacuvaj {
	background-color: black!important;
	color: #9E8D5F!important;
	}


.checked {
	color: #aeaca8;
	}

.checked:hover{
	color: black;
	}

.prikaz {
	color: #9E8D5F;
	}

.form-container .btn:hover, .open-button:hover {
	opacity: 1!important;
}

footer {
	font-size: 80%;
	border: 2px solid #9E8D5F!important;
	padding: 0% 0% 0% 35%;
	clear: both;
	color: #aeaca8;
	background-color: #aeaca8;
	background-image: url("../media/pozadina.png")!important;
	background-position: center!important;
	height: 10%;
}

input{
	background-color: #9E8D5F!important;
	width: 100%!important;
}

textarea{
	background-color: #9E8D5F!important;
	width: 100%!important;
}
